:root {
    --c-primary-brand: #4D5AE5;
    --c-pressed-state: #404BBF;
    --c-dark: #2E2F42;
    --c-succes: #31D0AA;
    --c-text: #434455;
    --c-subtle-text: #8E8F99;
    --c-accent: #E7E9FC;
    --c-light:#F4F4FD;
    --c-modal-overlay: #2E2F42;
    --c-hero-background: #2E2F42;
    --c-white-backgound: #FFFFFF;
    --c-modal-background: #FCFCFC;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}
.logo-studio {
    color: #2e2f42;
}
.header-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: inline-block;
    padding: 24px 0;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-first {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-first::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
}
.header-list:hover {
    color: #404bbf;
}
.header-list:focus {
    color: #404bbf;
}
.adress-decoration {
    font-style: normal;
}
.header-contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-weight: 400;
}
.header-contacts:hover,
.header-contacts:focus {
color: #404bbf;
}
.main-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    max-width: 496px;
    margin: 0 auto;
}
.section-decoration {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-decoration-ways {
    background-color: #FFFFFF;
    padding: 120px 0;
}
.order-service-button {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    display: block;
    padding: 16px 32px;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.order-service-button:hover {
   background-color: #404BBF;
}
.order-service-button:focus {
    background-color: #404BBF;
}
.main-header {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.sub-header-desk {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
.sub-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 8px;
    align-items: justify;
    text-align: justify;
}
.sub-header-three {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
     border-radius: 0px 0px 4px 4px;
     margin-bottom: 8px;
     text-align: center;
     align-items: center;
}
.section-three-desc {
    background-color: #F4F4FD;   
    padding: 120px 0;
}
.sub-header-desk-three {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}
.sub-header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 8px;
    align-items: justify;
    text-align: justify;
}
.sub-desk-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    text-align: justify;
}
.content-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.third-list-class {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.footer-desc {
    background-color: #2e2f42;
    padding: 100px 0;
}
.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
}
.logo-second-footer {
    color: #f4f4fd; 
}
.footer-logo-desc {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 24px;
}
 div {
    display: block;
}
.body-navigation {
    gap: 40px;
    display: flex;
    flex-grow: 1;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.body-adress {
    display: flex;
    gap: 40px;
}
.ways-list {
    display: flex;
    gap: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.ways-item {
    width: calc((100% - 72px) / 4);
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-list-text {
    padding: 32px 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}
 div {
    display: block;
}
.ways-item-li {
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 72px) / 4);
}
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    text-transform: capitalize;
    text-align: center;
}
.portfolio-tittle {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.advantages-icon {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.card-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-item {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.social-icon {
    fill: #f4f4fd;
}
.portfolio-item:hover .portfolio-discription {
    transform: translateY(0%);
}
.portfolio-image {
    position: relative;
    overflow: hidden;
}
.portfolio-discription {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: #f4f4fd;
}
.footer-content {
    display: flex;
    align-items: baseline;
}
.advice {
    max-width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.footer-media {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-list {
    display: flex;
    gap: 16px;
}
.footer-item {
    height: 40px;
    width: 40px;
}
.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
}
.footer-advice {
    margin-right: 120px;
}

.footer-input {
    margin-left: 80px;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}
.email-form {
    display: flex;
}
.modal-tittle-footer {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.email-input {
    border-radius: 4px;
    border: 1px solid #fff;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding: 8px 0 8px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #fff;
}
input::placeholder {
    color: #fff;
}

.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    margin-left: 24px;
    padding: 8px 24px;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.social-icon-input {
    fill: #ffffff;
    margin-left: 16px;
}
.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    width: 408px;
    max-width: 100%;
    min-height: 584px;
    max-height: 100%;
    overflow-y: auto;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
    background-color: #404BBF;
    border: none
}

.button-close:hover>.icon-close,
.button-close:focus>.icon-close {
    fill: #FFFFFF;
}
.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-tittle {
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-icon-wrap {
    position: relative;
}
.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}
.modal-input {
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 8px 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
    outline: none;
    border-color: #4d5ae5;
}
.modal-field-textarea {
    margin-bottom: 16px;
}
.modal-textarea {
    resize: none;
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    min-height: 120px;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:hover,
.modal-textarea:focus {
    outline: none;
    border-color: #4d5ae5;
}
.modal-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
    fill: transparent;
}
.modal-checkbox-check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-input:checked+.modal-checkbox-label .modal-checkbox-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.modal-checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.link-policy {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
.modal-button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-send:hover {
    background-color: #404bbf;
    fill: #ffffff;
}
.modal-button-send:focus {
    background-color: #404bbf;
    fill: #ffffff;
}