:root {
    --c-primary-brand: #4D5AE5;
    --c-pressed-state: #404BBF;
    --c-dark: #2E2F42;
    --c-succes: #31D0AA;
    --c-text: #434455;
    --c-subtle-text: #8E8F99;
    --c-accent: #E7E9FC;
    --c-light:#F4F4FD;
    --c-modal-overlay: #2E2F42;
    --c-hero-background: #2E2F42;
    --c-white-backgound: #FFFFFF;
    --c-modal-background: #FCFCFC;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}


.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
   padding: 0;
   line-height: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    /* display: inline-flex;
      align-items: center; */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    padding: 17px 0;
  
}
.logo-studio {
    color: #2e2f42;
}
.header-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: inline-block;
    padding: 24px 0;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: row;
}
.header-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-first {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-first::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
}
.header-list:hover {
    color: #404bbf;
}
.header-list:focus {
    color: #404bbf;
}
.adress-decoration {
    font-style: normal;
    display: flex;
}
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
    .adress-decoration {
        display: none;
    }
}
.header-contacts {
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-weight: 400;
}
.header-contacts:hover,
.header-contacts:focus {
color: #404bbf;
}


.section-decoration {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .main-header {
    
     font-size: 36px;
     line-height: 1.11;
     margin-bottom: 72px;
    color: var(--WHITE, #FFF);
        text-align: center;
        max-width: 208px;
        margin-left: auto;
        margin-right: auto;
 }

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .section-decoration {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobile-bg@2x.jpg);
    }
}

.section-decoration-ways {

    padding: 96px 0;
}

.order-service-button {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    display: block;
    padding: 16px 32px;
   margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.order-service-button:hover {
   background-color: #404BBF;
}
.order-service-button:focus {
    background-color: #404BBF;
}



    .sub-header-desk {
    color: var(--SLATE, #434455);
    
        font-weight: 500;
        line-height: 1.5;
      
        letter-spacing: 0.32px;
    }

.sub-header {
color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
   
    line-height: 1.11;

    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.sub-header-three {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
     border-radius: 0px 0px 4px 4px;
     margin-bottom: 8px;
     text-align: center;
     align-items: center;
}
.section-three-desc {
    background-color: #F4F4FD;   
    padding: 96px 0;
}


.sub-header-desk-three {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}
.sub-header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 8px;
    align-items: justify;
    text-align: justify;
}
.sub-desk-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    text-align: justify;
}
.content-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.third-list-class {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08); 
}
@media only screen and (min-width: 768px) {
    .third-list-class {
        max-width: 264px;
        flex-basis: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .third-list-class {
        flex-basis: calc((100% - 72px) / 4);
        min-width: 264px;
    }
}
.footer-desc {
    background-color: #2e2f42;
    padding: 96px 0;

}
.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.logo-second-footer {
    color: #f4f4fd; 
}
.footer-logo-desc {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
   
}
@media only screen and (min-width: 768px) {
    .navigation {
        gap: 120px;
    }
}
 div {
    display: block;
}
.body-navigation {
    gap: 40px;
    display: flex;
    flex-grow: 1;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
    .body-navigation {
        display: none;
    }
}



    .ways-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.ways-item {
    width: calc((100% - 72px) / 4);
}
.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.team-list-text {
    padding: 32px 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}
 div {
    display: block;
}



    .section-portfolio {
        padding: 96px 0;
    }


.portfolio-tittle {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
   
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



.advantages-icon {
    display: none;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
@media screen and (min-width: 1158px) {
    .advantages-icon {
        display: flex;
        flex-direction: column;
    }
}
.card-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-item {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.social-icon {
    fill: #f4f4fd;
}
.portfolio-item:hover .portfolio-discription {
    transform: translateY(0%);
}
.portfolio-image {
    position: relative;
    overflow: hidden;
    height: 280px
}
@media screen and (min-width: 768px) {
  .portfolio-image {
    width: 360px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-image {
    height: 300px;
  }
} 
.portfolio-discription {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .portfolio-card {
        flex-basis: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .portfolio-card {
        flex-basis: calc((100% - 48px) / 3);
    }
}
 .portfolio-photo {
  height: 280px;
}

@media screen and (min-width: 768px) {
  .portfolio-photo {
    width: 360px;
    height: 300px;
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-photo {
    height: 300px;
  }
} 
.footer-content {
    display: flex;
    align-items: center;
   flex-direction: column;
   gap: 72px;
}
.advice {
    max-width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}




.footer-media {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
   text-align: center;
}

.footer-list {
    display: flex;
    gap: 16px;
}
.footer-item {
    height: 40px;
    width: 40px;
}
.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
}


.footer-input {
   
}
.subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .subscribe-form {
        flex-wrap: nowrap;
        gap: 24px;
    }
}
.email-form {
    display: flex;
}
.modal-tittle-footer {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.email-input {
    border-radius: 4px;
    border: 1px solid #fff;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding: 8px 0 8px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #fff;
}
@media screen and (min-width: 768px) {
    .email-input {
        width: 264px;
    }
}
input::placeholder {
    color: #fff;
}

.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    padding: 8px 24px;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.social-icon-input {
    fill: #ffffff;
    margin-left: 16px;
}
.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
   width: 288px;
    min-height: 584px;
    max-height: 100%;
    overflow-y: auto;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 16px 24px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
    background-color: #404BBF;
    border: none
}

.button-close:hover>.icon-close,
.button-close:focus>.icon-close {
    fill: #FFFFFF;
}
.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-tittle {
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-icon-wrap {
    position: relative;
}
.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}
.modal-input {
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 8px 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
    outline: none;
    border-color: #4d5ae5;
}
.modal-field-textarea {
    margin-bottom: 16px;
}
.modal-textarea {
    resize: none;
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    min-height: 120px;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:hover,
.modal-textarea:focus {
    outline: none;
    border-color: #4d5ae5;
}
.modal-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
    fill: transparent;
}
@media screen and (max-width: 767.98px) {
    .modal-checkbox {
        position: relative;
    }
}
.modal-checkbox-check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
    .modal-checkbox-check {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
.modal-checkbox-input:checked+.modal-checkbox-label .modal-checkbox-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.modal-checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
@media screen and (max-width: 767.98px) {
    .modal-checkbox-label {
        margin-left: 24px;
    }
}
.link-policy {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
.modal-button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-send:hover {
    background-color: #404bbf;
    fill: #ffffff;
}
.modal-button-send:focus {
    background-color: #404bbf;
    fill: #ffffff;
}
/* START Mob-menu */
.menu-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 72px 16px 40px;
    transition: transform 250ms ease-in;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
}
.is-hidden {
transform: translateX(0);
}
.mob-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-menu-list {
   margin-bottom: auto;
}
.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mob-menu-link {
    color: #2e2f42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;
}
.mob-menu-link:focus {
    color: #404bbf;
}
.mob-current-link{
    color: #404BBF;
}
.mob-contacts {
    margin-bottom: 48px;
}
.mob-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}
.mob-contacts-link {
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.mob-contacts-link:focus {
    color: #404bbf;
}
.mob-current-contact {
    color: #4D5AE5;
}
.mob-icon-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.mob-link-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
}
.mob-icon-socials {
    fill: #f4f4fd;
}